body{
	position: center;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #107100;
	font-family: helvetica;
}
.btn {
  background: #908A8F; 
  color: #FFFFFF;
  display: inline-block;
  border-style: ridge;
  border-radius: 3px;
  border-color: #42ff23;
  font-family: helvetica;
  line-height: 2.5em;
  padding: 0 3em;
  text-decoration: none;
}

#main-container {
	width:800px;
	margin: 0 auto;
}