<!DOCTYPE html>
<HTML>
	<head>
		<title>Bread Crumbs</title>
		<link rel="shortcut icon" href="/static/img/leaf.ico">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
	</head>
	
	<body>
	
	<div id="main-container">
		<p>
		Hi, Welcome to <i>Bread Crumbs!</i> <br>
		Like the ones Hansel and Gretel left behind, 
		we hope to lead you to some good local eats.
		</p>
		
		<p>
		<img src="/static/img/dukefarm.png" alt="Community Farm" style = "width:35%;height:25%">
		</p>
		
		<p>
		<u>Our mission:</u> <br>
		As our world gets bigger, supermarkets and chains make eating more convenient for us.
		<br>But what if we could link you to local restaurants and food vendors?
		<br>Keeping the convenience AND reducing your carbon footprint.
		</p>
		<br>
		<p>
		Ready to join us?
		</p>
		
		<p>
		<div id ="Button">
			<a href="/search" class="btn"><strong>Search Local</strong></a>

			<a href="/vendor" class="btn"><strong>Vendor Login</strong></a>
		</div>
		<br>
		</p>
		
		
	</div>

	</body>
</HTML>