<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { width:100%; height: 480px; margin: 0; padding: 0;}
      #search-range-text { width: 30px; text-align: right }
    </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript">
        function setupAjax() {
          //setup ajax
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
          var csrftoken = getCookie('csrftoken');
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
              crossDomain: false, // obviates need for sameOrigin test
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type)) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                  }
              }
          });
        }
        
        // Closure
        (function(){

            /**
             * Decimal adjustment of a number.
             *
             * @param	{String}	type	The type of adjustment.
             * @param	{Number}	value	The number.
             * @param	{Integer}	exp		The exponent (the 10 logarithm of the adjustment base).
             * @returns	{Number}			The adjusted value.
             */
            function decimalAdjust(type, value, exp) {
                // If the exp is undefined or zero...
                if (typeof exp === 'undefined' || +exp === 0) {
                    return Math[type](value);
                }
                value = +value;
                exp = +exp;
                // If the value is not a number or the exp is not an integer...
                if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
                    return NaN;
                }
                // Shift
                value = value.toString().split('e');
                value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));
                // Shift back
                value = value.toString().split('e');
                return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
            }

            // Decimal round
            if (!Math.round10) {
                Math.round10 = function(value, exp) {
                    return decimalAdjust('round', value, exp);
                };
            }
            // Decimal floor
            if (!Math.floor10) {
                Math.floor10 = function(value, exp) {
                    return decimalAdjust('floor', value, exp);
                };
            }
            // Decimal ceil
            if (!Math.ceil10) {
                Math.ceil10 = function(value, exp) {
                    return decimalAdjust('ceil', value, exp);
                };
            }

        })();
        
        var map;
        var geocoder;
        var originMarker;
        var vendorMarkers = [];
        google.maps.event.addDomListener(window, 'load', function() {
            var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
            var mapOptions = {
              zoom: 13,
              center: myLatlng
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            geocoder = new google.maps.Geocoder();            
            originMarker = new google.maps.Marker();
        });
        $(document).ready(function() {
            setupAjax();
            //$("#map-canvas").hide();
            
            //setup search form
            $("#search-form").submit(function() {
                var address = $("#search-form input[type=text]").val();
                $("#error").html("");
                geocoder.geocode({
                    address: address
                }, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                      map.setCenter(results[0].geometry.location);
                      originMarker.setMap(map);
                      originMarker.setPosition(results[0].geometry.location);
                      searchVendors();
                      //$("#map-canvas").show();
                    } else {
                      $("#error").html("Cannot find address (" + status + ")");
                    }
                });
                return false;
            });
            
            //setup search range
            $("#search-range").change(function() {
                var value = $(this).val() ;
                $("#search-range-text").val(value);
            });
            $("#search-range-text").change(function() {
                var value = parseInt($(this).val());
                $("#search-range").val(value);
            });
            
            $("#filters").submit(function() {
                searchVendors();
                return false;
            });
        });
        
        
        function getFakeData() {
            return [
                {
                    name: 'Test1',
                    lat:42.276988,
                    lng:-83.738222,
                    addr:'asdfadfasdf',
                    desc:'asdfasdfaefefefefe'
                },
                {
                    name: 'Test2',
                    lat:42.276227,
                    lng: -83.741282,
                    addr:'effee',
                    desc:'grgrgrgrg'
                }
            ];
        }
        
        function searchVendors() {
            //TODO: replace with ajax
            //var vendors = getFakeData();
            
            var request = {
                lat: originMarker.getPosition().lat(),
                lng: originMarker.getPosition().lng(),
                range: $("#search-range").val()
            };
            
            $.ajax({
                url: '/search',
                type: 'POST',
                data: JSON.stringify(request),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json'
            }).done(function(vendors) {
                //clear old markers
                vendorMarkers.forEach(function(vendorMarker) {
                    vendorMarker.setMap(null);
                });
                $("#vendor-list").empty();
                
                console.log(vendors);
                
                vendors.forEach(function(vendor) {
                    //add vendor marker
                    var vendorMarker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(vendor.lat, vendor.lng)
                    });
                    vendorMarkers.push(vendorMarker);
                    
                    //append to list
                    var html = [];
                    html.push("<li>");
                    html.push("<span class='name'><a>");
                    html.push(vendor.name);
                    html.push("</a></span>");
                    html.push(" (" + Math.round10(vendor.dist, -1) + " mi)");
                    html.push("</li>");
                    $("#vendor-list").append($(html.join("")));
                });
            });
            
        }
    </script>
  </head>
  <body>
  <form id="search-form">
    {% csrf_token %}
    <input type="text" placeholder="Address">
    <input type="submit" value="Go!">
  </form>
  <div id="error"></div>
  <form id="filters">
    <input id="search-range" type="range" min="1" max="100" value="20"> <input id="search-range-text" type="text" value="20" maxlength="3"> mi<br>
    <input type="submit" value="Update">
  </form>
  <div id="map-canvas"></div>
  <ul id="vendor-list">
  </ul>
  </body>
</html>